/* ==========================================================================
   Variables: colors, sizes, fonts
   ========================================================================== */

/* Colors
========================================================================== */
$color_white:       #FFFFFF;
$color_black:       #000000;

$color_default:     #222222;
$color_cream:       #FFF2E7;
$color_red:         #B61B1F;
$color_yellow:      #F6AB1F;
$color_green:       #005C2F;
$color_grey:        #84817C;
$color_blue:        #00709E;
$color_violet:      #6B4886;
$color_brown:       #6E2B1A;

/* Sizes
========================================================================== */
$size_inner:        875px;

/* Fonts
========================================================================== */
//@import url($fontURL);
$font_normal:       'Roboto', Arial, sans-serif;
